
<div class="contact-container">
    <div class="contact-info text-center">
        <p>
            <a >Take an appointment</a>
          </p>
      <p>
        Contact us: 
        <a href="mailto:zahinewu&#64;gmail.com" class="underline">zahinewu&#64;gmail.com</a> | 
        <a href="tel:+16155242168" class="underline">+1 (615) 524-2168</a>
      </p>
      <p class="mt-1">Nashville, Tennessee 321</p>
      <button class="home-button" (click)="goToHome()">Back to Home</button>
    </div>
  </div>